<h2>Local sign up</h2>
<form action="/auth/sign-up/local" method="POST">
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Enter email address" />
  
  <label for="password">Password</label>
  <input type="password" id="password" name="password" />
  
  <button>Submit</button>
</form>

<h2>Google Sign up</h2>
<form action="">

</form>