<div class="container-fluid">
    <div class="row">
        <img src="/images/email-sent.svg" alt="" class="mx-auto" style="max-width: 600px;">
    </div>
    <div class="row">
        <h3 class="pt-2 mx-auto">Verification email sent to</h3>
    </div>
    <div class="row">
        <h5 class="mx-auto">{{user.email}}</h5>
    </div>
</div>