{{!-- <nav>
  <a href="/">Home</a>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
</nav> --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="max-height: 4.5em;">
  <a class="navbar-brand" href="/">
     {{!-- <img src="/images/brand-small.png"  alt="UKA"> --}}
     <img src="/images/brand-small-white.png"  alt="UKA">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav w-100 d-inline-flex align-items-center">
      {{#if user}}
        <li class="nav-item ml-lg-auto">
          <div class="dropdown">
            <img src={{user.photoUrl}} class="profile-pic border border-primary dropdown-toggle" alt="User Photo" data-toggle="dropdown">
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="/user/{{user._id}}/profile">Profile</a>
              <a class="dropdown-item" href="/user/{{user._id}}/settings">Settings</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item bg-danger text-white" href="/auth/sign-out">Sign Out</a>
              </div>
            </div>
          </div>
        </li>
      {{else}}
        <li class="nav-item ml-lg-auto">
          <a class="nav-link" href="/auth/sign-in">Sign In</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/auth/sign-up">Sign Up</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>