<title>Ulitmate Kitchen Assistant</title>

<div id="index" class="container-fluid">
  {{!-- <h1>Ulitmate Kitchen Assistant</h1> --}}
  <img class="logo" src="/images/brand-vertical-white.png" alt="UKA" style="max-width: 15%" class="pb-3">
  <h2 class="m-5 mx-auto">What's cooking?</h2>
  <form class="search auth-form" action="/recipes" method="GET">
    <input type="text" name="include" placeholder="Enter your ingredients..." />

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1" name="strict" />
      <label class="custom-control-label" for="customCheck1">Only these ingredients</label>
    </div>

    {{!-- <div class="">
      <a data-toggle="collapse" href="#collapseExample" role="button" 
        aria-expanded="false" aria-controls="collapseExample">Advanved Search</a>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <input type="text" id="exclude" class="m-2" name="exclude" placeholder="Excluded ingredients..." />
          
          <label for="dietary-restrictions" class="m-2"></label>
          <select id="dietary-restrictions" name="dietary-restrictions">
            <option value="gluten-free">Gluten-free</option>
            <option value="dairy-free">Dairy-free</option>
            <option value="alcohol-free">Alcohol-free</option>
            <option value="celery-free">Celery-free</option>
            <option value="crustacean-free">Crustacean-free</option>
            <option value="egg-free">Egg-free</option>
            <option value="fish-free">Fish-free</option>
            
            <option value="low-sugar">No added sugar</option>
          </select>
          
        </div>
      </div>
    </div> --}}
    

    <button class="btn btn-dark">Search</button>
  </form>
</div>

<script>
  document.getElementById("customCheck1").addEventListener("click", hideExcludes);

  function hideExcludes() {
    const $exclude = document.getElementById("exclude");
    if ($exclude.style.visibility === "hidden") {
      $exclude.style.visibility = "visible"
    } else {
      $exclude.style.visibility = "hidden"
    }
  }
</script>