<title>Ulitmate Kitchen Assistant</title>

<div id="index" class="container-fluid m-scene overflow-hidden">
  {{!-- <h1>Ulitmate Kitchen Assistant</h1> --}}
  <img src="/images/brand-vertical-white.png" alt="UKA" style="max-width: 25vh" class="pb-3">
  <h2 class="mt-3 mb-5 mx-auto scene_element_fast scene_element--fadeinup">What's cooking?</h2>
  <form class="w-50 search auth-form scene_element_fast scene_element--fadeinup" action="/recipes" method="GET">
    <input class="index-search transparent-input shadow-sm w-75" type="text" name="include" placeholder="Enter your ingredients..." />

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1" name="strict" />
      <label class="custom-control-label" for="customCheck1">Only these ingredients</label>
    </div>
    
    <button class="btn btn btn-success">Search</button>
  </form>
</div>

{{!-- 
<script>
  document.getElementById("customCheck1").addEventListener("click", hideExcludes);

  function hideExcludes() {
    const $exclude = document.getElementById("exclude");
    if ($exclude.style.visibility === "hidden") {
      $exclude.style.visibility = "visible"
    } else {
      $exclude.style.visibility = "hidden"
    }
  }
</script> --}}