$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  width: 100%;
  height: 100vh;
}

a {
  color: $link-color;
}

// #index body {
//   background-image: url("./../images/index-bg.jpg");
// }

#index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../images/index-bg.jpg");
  
  /* Set a specific height */
  height: 100%;
  width: 100%;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h1, form {
    color: white;
  }           
}