$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  width: 100%;
  height: 100vh;
}

a {
  color: $link-color;
}

#index, .fs-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../images/index-bg.jpg");
  
  /* Set a specific height */
  height: 100%;
  width: 100%;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  h1, h2, form {
    color: white;
    line-height: 1em;
  }

  h1 {
    font-size: 5em;
    padding: 1em;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form {
    margin: 1.5em 0;
  }
  
  form button {
    font-weight: 600;
    // padding: 1em;
    margin: 1em 0.5em;
  }

  .card-title {
    text-align: center;
    font-size: 2em;
  }
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  width: 99.6%;
  
  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    margin: 1em;
    padding: 0.25em;
  }
  input {
    padding: 0.5em;
    border: 0.3em solid white;
    border-radius: 0.3em;
  }
  label {
    margin-left: 1.5em;
  }
  button {
    margin: 2em;
    margin-top: 5em;
  }

}

.bg-purple {
  // background-color: #7E089F;
  background-color: #d3d0d8;
}


.profile-pic {
  max-width: 40px;
  border-radius: 50%;
}

.pristine-error {
  color: red;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #d3d0d8;
  }
}


.cursor {
  cursor: pointer;
}

.hidden {
  display: none;
}